package template

import "github.com/agiannif/adistantcloud/internal/config"

templ Home(heroImage string, galleries []config.GalleryMetadata) {
	@page() {
		@nav("/", "a distant cloud", galleries)
		<main class="flex-1 flex flex-col items-center justify-center">
			<h1 class="text-7xl font-light font-title mb-12">
				a distant cloud
			</h1>
			if heroImage != "" {
				<div class="max-w-7xl w-full px-6 mb-12">
					<div x-data class="aspect-[3/2] bg-ef-light-bg-dim">
						<img
							src={ "/assets/images/" + heroImage }
							@load="$el.style.opacity=1"
							alt="A photograph from a distant cloud"
							class="w-full h-full object-cover transition duration-300 opacity-0"
						/>
					</div>
				</div>
			}
		</main>
		@footer()
	}
}
