/* Atkinson Hyperlegible Next - Body Text */
@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-display: swap;
  src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-display: swap;
  src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Grenze - Title Font */
@font-face {
  font-family: "Grenze";
  font-display: swap;
  src: url(/static/fonts/Grenze/Grenze-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Grenze";
  font-display: swap;
  src: url(/static/fonts/Grenze/Grenze-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}