@import "tailwindcss";

@theme {
  /* Fonts */
  --font-title: "Grenze", ui-serif;
  --font-sans: "Atkinson Hyperlegible Next", ui-sans-serif;
  --font-mono: "Atkinson Hyperlegible Mono", ui-monospace;

  /* Light theme colors */
  --color-ef-light-bg: #f8f5e4;
  --color-ef-light-bg-dim: #f2efdf;
  --color-ef-light-bg-light: #fffbef;
  --color-ef-light-fg: #5c6a72;

  --color-ef-light-red: #f85552;
  --color-ef-light-orange: #f57d26;
  --color-ef-light-yellow: #dfa000;
  --color-ef-light-green: #8da101;
  --color-ef-light-blue: #3a94c5;
  --color-ef-light-aqua: #35a77c;
  --color-ef-light-purple: #df69ba;

  --color-ef-light-gray-light: #a6b0a0;
  --color-ef-light-gray: #939f91;
  --color-ef-light-gray-dim: #829181;

  --color-ef-light-bg-red: #ffe7de;
  --color-ef-light-bg-yellow: #fef2d5;
  --color-ef-light-bg-green: #f3f5d9;
  --color-ef-light-bg-blue: #ecf5ed;

  /* Dark theme colors */
  --color-ef-dark-bg: #2e383c;
  --color-ef-dark-bg-dim: #1e2326;
  --color-ef-dark-bg-light: #272e33;
  --color-ef-dark-fg: #d3c6aa;

  --color-ef-dark-red: #e67e80;
  --color-ef-dark-orange: #e69875;
  --color-ef-dark-yellow: #dbbc7f;
  --color-ef-dark-green: #a7c080;
  --color-ef-dark-blue: #7fbbb3;
  --color-ef-dark-aqua: #83c092;
  --color-ef-dark-purple: #d699b6;

  --color-ef-dark-gray-light: #7a8478;
  --color-ef-dark-gray: #859289;
  --color-ef-dark-gray-dim: #9da9a0;

  --color-ef-dark-bg-red: #4c3743;
  --color-ef-dark-bg-yellow: #45443c;
  --color-ef-dark-bg-green: #3c4841;
  --color-ef-dark-bg-blue: #384b55;
}

@layer base, utilities;

@layer utilities {

  /* Safe List */
  .overflow-y-hidden {
    overflow-y: hidden;
  }

  .h-full {
    height: 100%;
  }

  /* Directional Shadow */
  .top-shadow-md {
    filter: drop-shadow(0 -3px 3px rgb(0 0 0 / 0.12))
  }

  /* Width and Height Breakpoints */
  @media (width>=80rem) and (height>=60rem) {
    .full\:grid {
      display: grid
    }

    .full\:inline {
      display: inline
    }

    .full\:hidden {
      display: none
    }

    .full\:grid-cols-\[256px_minmax\(0\,_1fr\)_256px\] {
      grid-template-columns: 256px minmax(0, 1fr) 256px
    }

    .full\:gap-8 {
      gap: calc(var(--spacing)*8)
    }

    .full\:mb-0 {
      margin-bottom: calc(var(--spacing) * 0)
    }
  }

  /* Grid Template Columns */
  .grid-cols-79 {
    grid-template-columns: repeat(79, minmax(0, 1fr));
  }

  /* Grid Column Spans */
  .col-span-79 {
    grid-column: span 79 / span 79;
  }

  .md\:col-span-79 {
    @media (width >=48rem) {
      grid-column: span 79 / span 79;
    }
  }

  .col-span-39 {
    grid-column: span 39 / span 39;
  }

  .md\:col-span-39 {
    @media (width >=48rem) {
      grid-column: span 39 / span 39;
    }
  }

  .col-span-54 {
    grid-column: span 54 / span 54;
  }

  .md\:col-span-54 {
    @media (width >=48rem) {
      grid-column: span 54 / span 54;
    }
  }

  .col-span-24 {
    grid-column: span 24 / span 24;
  }

  .md\:col-span-24 {
    @media (width >=48rem) {
      grid-column: span 24 / span 24;
    }
  }

  /* Grid Column Start Positions */
  .col-start-21 {
    grid-column-start: 21;
  }

  .md\:col-start-21 {
    @media (width >=48rem) {
      grid-column-start: 21
    }
  }

  .col-start-26 {
    grid-column-start: 26;
  }

  .md\:col-start-26 {
    @media (width >=48rem) {
      grid-column-start: 26;
    }
  }

  .col-start-41 {
    grid-column-start: 41;
  }

  .md\:col-start-41 {
    @media (width >=48rem) {
      grid-column-start: 41;
    }
  }

  .col-start-56 {
    grid-column-start: 56;
  }

  .md\:col-start-56 {
    @media (width >=48rem) {
      grid-column-start: 56;
    }
  }
}

@layer base {

  /* Alpine.js x-cloak utility */
  [x-cloak] {
    display: none !important;
  }
}