@import "tailwindcss";

@theme {
  /* Fonts */
  --font-title: "Grenze", ui-serif;
  --font-sans: "Atkinson Hyperlegible Next", ui-sans-serif;
  --font-mono: "Atkinson Hyperlegible Mono", ui-monospace;

  /* Light theme colors */
  --color-ef-light-bg: #f8f5e4;
  --color-ef-light-bg-dim: #f2efdf;
  --color-ef-light-bg-light: #fffbef;
  --color-ef-light-fg: #5c6a72;

  --color-ef-light-red: #f85552;
  --color-ef-light-orange: #f57d26;
  --color-ef-light-yellow: #dfa000;
  --color-ef-light-green: #8da101;
  --color-ef-light-blue: #3a94c5;
  --color-ef-light-aqua: #35a77c;
  --color-ef-light-purple: #df69ba;

  --color-ef-light-gray-light: #a6b0a0;
  --color-ef-light-gray: #939f91;
  --color-ef-light-gray-dim: #829181;

  --color-ef-light-bg-red: #ffe7de;
  --color-ef-light-bg-yellow: #fef2d5;
  --color-ef-light-bg-green: #f3f5d9;
  --color-ef-light-bg-blue: #ecf5ed;

  /* Dark theme colors */
  --color-ef-dark-bg: #2e383c;
  --color-ef-dark-bg-dim: #1e2326;
  --color-ef-dark-bg-light: #272e33;
  --color-ef-dark-fg: #d3c6aa;

  --color-ef-dark-red: #e67e80;
  --color-ef-dark-orange: #e69875;
  --color-ef-dark-yellow: #dbbc7f;
  --color-ef-dark-green: #a7c080;
  --color-ef-dark-blue: #7fbbb3;
  --color-ef-dark-aqua: #83c092;
  --color-ef-dark-purple: #d699b6;

  --color-ef-dark-gray-light: #7a8478;
  --color-ef-dark-gray: #859289;
  --color-ef-dark-gray-dim: #9da9a0;

  --color-ef-dark-bg-red: #4c3743;
  --color-ef-dark-bg-yellow: #45443c;
  --color-ef-dark-bg-green: #3c4841;
  --color-ef-dark-bg-blue: #384b55;
}

@layer base, utilities;

@layer utilities {

  /* Grid Template Columns */
  .grid-cols-79 {
    grid-template-columns: repeat(79, minmax(0, 1fr));
  }

  /* Grid Column Spans */
  .col-span-79 {
    grid-column: span 79 / span 79;
  }

  .col-span-39 {
    grid-column: span 39 / span 39;
  }

  .col-span-54 {
    grid-column: span 54 / span 54;
  }

  .col-span-24 {
    grid-column: span 24 / span 24;
  }

  /* Grid Column Start Positions */
  .col-start-0 {
    grid-column-start: 0;
  }

  .col-start-21 {
    grid-column-start: 21;
  }

  .col-start-26 {
    grid-column-start: 26;
  }

  .col-start-41 {
    grid-column-start: 41;
  }

  .col-start-56 {
    grid-column-start: 56;
  }
}

@layer base {

  /* Alpine.js x-cloak utility */
  [x-cloak] {
    display: none !important;
  }

  /* Atkinson Hyperlegible Next */
  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-ExtraLight.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-ExtraLightItalic.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-LightItalic.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-RegularItalic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-MediumItalic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-SemiBoldItalic.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-BoldItalic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Next";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Next/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
  }

  /* Atkinson Hyperlegible Mono */
  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-ExtraLight.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-ExtraLightItalic.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-LightItalic.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-RegularItalic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-MediumItalic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-SemiBoldItalic.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-BoldItalic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Atkinson Hyperlegible Mono";
    font-display: swap;
    src: url(/static/fonts/Atkinson_Hyperlegible_Mono/AtkinsonHyperlegibleMono-ExtraBoldItalic.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
  }

  /* Grenze */
  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-Thin.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-ThinItalic.woff2) format("woff2");
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-ExtraLight.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-ExtraLightItalic.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-LightItalic.woff2) format("woff2");
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-Italic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-Medium.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-MediumItalic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-SemiBold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-SemiBoldItalic.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-BoldItalic.woff2) format("woff2");
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-ExtraBold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-ExtraBoldItalic.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Grenze";
    font-display: swap;
    src: url(/static/fonts/Grenze/Grenze-BlackItalic.woff2) format("woff2");
    font-weight: 900;
    font-style: italic;
  }
}